.dashboardLayout {
  display: flex;
  gap: 50px;
  padding-top: 20px;
  height: 100%;

  .menu {
    flex: 0.6;
  }

  .content {
    flex: 4;
    background-color: #12101b;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}
